<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/scoreStyle.css' />
    <style type="text/css"> 
      a { text-decoration:none } 
    </style> 
  </head>

  <body id="titleBody">
    <header>
      <a href="/"><h1>하늘에서 내리는 봉봉</h1></a>
      <nav>
        <a href="/" id="titleHyper">새로하기</a>
      </nav>
    </header></br></br></br>

    <div id="messageDiv" style="font-size: 100px;">Your score</div></br></br>
    <div>
      <p id="stageDiv">Round 1 수익 : <%= earnedmoney1 %></span></p></br>
      <p id="stageDiv">Round 2 수익 : <%= earnedmoney2 %></span></p></br>
      <p id="stageDiv">Round 3 수익 : <%= earnedmoney3 %></span></p></br>
    </div></br></br>

    <div id="nameDiv">
      이름 = <input id="name" name="search" placeholder=" 이름을 기입하세요." style="width:350px;height:50px;font-size:30px;">
    </div></br>

    <div id="buttonDiv">
      <div class="dark-button button-wrapper">
        <div class="button" onclick="goRanking()">
            <span >
                기록하기
            </span >
        </div>  
      </div>
      <div class="dark-button button-wrapper">
        <div class="button" onclick="location.href='/'">
            <span >
                처음으로
            </span >
        </div>  
      </div>
    </div>

  
  </body>
</html>

<script>
  function goRanking() {
    var profit = <%= earnedmoney1%> + <%= earnedmoney2%> + <%= earnedmoney3%>;
    var name = document.getElementById('name').value;
   // console.log("hi"+earnedmoney1);
    console.log(name, profit);

    post_to_url('ranking',{
      name: name,
      profit: profit
    },'post');
  }

  function parseURLParams(url) {
    var queryStart = url.indexOf("?") + 1,
        queryEnd   = url.indexOf("#") + 1 || url.length + 1,
        query = url.slice(queryStart, queryEnd - 1),
        pairs = query.replace(/\+/g, " ").split("&"),
        parms = {}, i, n, v, nv;

    if (query === url || query === "") return;

    for (i = 0; i < pairs.length; i++) {
        nv = pairs[i].split("=", 2);
        n = decodeURIComponent(nv[0]);
        v = decodeURIComponent(nv[1]);

        if (!parms.hasOwnProperty(n)) parms[n] = [];
        parms[n].push(nv.length === 2 ? v : null);
    }
    return parms;
  }

  function post_to_url(path, params, method) {
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    for (var key in params) {
      var hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", key);
      hiddenField.setAttribute("value", params[key]);
      form.appendChild(hiddenField);
    }
    document.body.appendChild(form);
    form.submit();
  }
</script>