<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <p>stage1 번 돈 : <%= earnedmoney1 %></span></p>
      <p>stage2 번 돈 : <%= earnedmoney2 %></span></p>
      <p>stage3 번 돈 : <%= earnedmoney3 %></span></p>
    </div>
    <div>
      <input id="name" name="search">
      <span>이름입력</span>
      <input type="button" name="start" value="입력" onclick="goRanking()" />
      <input type="button" name="back"  value="뒤로 가기" onclick="location.href='../'" />
    </div>
  </body>
</html>
<script>
  function goRanking() {
    var profit = <%= earnedmoney1%> + <%= earnedmoney2%> + <%= earnedmoney3%>;
    var name = document.getElementById('name').value;
   // console.log("hi"+earnedmoney1);
    console.log(name, profit);
    post_to_url('ranking',{
      name: name,
      profit: profit
    },'post');
  }

  function parseURLParams(url) {
    var queryStart = url.indexOf("?") + 1,
        queryEnd   = url.indexOf("#") + 1 || url.length + 1,
        query = url.slice(queryStart, queryEnd - 1),
        pairs = query.replace(/\+/g, " ").split("&"),
        parms = {}, i, n, v, nv;

    if (query === url || query === "") return;

    for (i = 0; i < pairs.length; i++) {
        nv = pairs[i].split("=", 2);
        n = decodeURIComponent(nv[0]);
        v = decodeURIComponent(nv[1]);

        if (!parms.hasOwnProperty(n)) parms[n] = [];
        parms[n].push(nv.length === 2 ? v : null);
    }
    return parms;
  }

    function post_to_url(path, params, method) {
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for(var key in params) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "submit");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>